<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Marionette Fundamentals</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-10">
				<div id="app" ></div>	
			</div>
		</div>
	</div>

	<script id="index-template" type="text/x-backbone">
		<h2>Welcome to Marionette's User Admin App</h2>
		<p>A demo application written to Marionette.JS</p>

		<ul>
			<li><a href="#" id="nav-users-index">Users</a></li>
			<li><a href="#" id="roles">Roles</a></li>
		</ul>
	</script>

	<script id="user-details-layout-template" type="text/x-backbone">
		<div id="user-details-layout">
			<h1>User details</h1>

			<div class="row">
				<div class="col-xs-12">
					<h2>Viewing <%= email %></h2>
				</div>
			</div>	

			<div class="row">
				<div class="col-xs-3" id="summary"></div>
				<div class="col-xs-9" id="profile"></div>
			</div>
		</div>
	</script>

	<script id="user-summary-template" type="text/x-backbone">
		<ul>
			<li>Item 1</li>
			<li>Item 2</li>
		</ul>
	</script>

	<script id="user-profile-template" type="text/x-backbone">
		<h3>User profile</h3>
	</script>

	<script src="//cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js"></script>
	<script src="//cdn.jsdelivr.net/underscorejs/1.8.3/underscore-min.js"></script>
	<script src="//cdn.jsdelivr.net/backbonejs/1.3.3/backbone-min.js"></script>
	<script src="//cdn.jsdelivr.net/backbone.marionette/2.4.5/backbone.marionette.min.js"></script>
	<script defer src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script>
		/* global $, Marionette, Backbone, _ */

		$(function() {
			var testData = [
				{id: 1, email: "test1@email.com"},
				{id: 2, email: "test2@email.com"},
				{id: 3, email: "test3@email.com"},
				{id: 4, email: "test4@email.com"}
			];

			var UserAdmin = new Marionette.Application();

			var UserModel = Backbone.Model.extend({
				url: 'api/users',
				validate: function(attrs) {
					if(!attrs.email && attrs.userName) {
						return 'Need an email and user name';
					}
				},
				initialize: function() {
					this.on('invalid', function(model) {
						alert(model.validationError);
					});
				},
				select: function() {
					UserAdmin.trigger('user:selected', this);
				}
			});
			
			var UserCollection = Backbone.Collection.extend({
				url: 'api/users',
				model: UserModel
			});

			var AppRouter = Backbone.Router.extend({
				// routes
				routes: {
					"": "showIndex",
					"users": "showUserList",
					"users/:id": "showUserDetails"
				},
				// route handlers
				showIndex: function() {
					UserAdmin.trigger('index:selected');
				},
				showUserList: function() {
					UserAdmin.trigger('userList:selected');
				},
				showUserDetails: function(id) {
					var user = UserAdmin.Users.get(id);
					UserAdmin.trigger('user:selected', user);
				}
			});

			// use Controllers to manage views
			var AppController = Marionette.Controller.extend({
				showIndex: function() {
					UserAdmin.mainRegion.show(new IndexView());
				},
				showUserList: function() {
					UserAdmin.mainRegion.show(new UserListView({
						collection: UserAdmin.Users
					}));
					UserAdmin.AppRouter.navigate("users");
				},
				showUserDetails: function(user) {
					var layout = new UserDetailsLayout({
						model: user
					});

					UserAdmin.mainRegion.show(layout);
					layout.summary.show(new UserSummaryView());
					layout.profile.show(new UserProfileView());
					UserAdmin.AppRouter.navigate("users/" + user.id);
				}
			});

			// Events
			UserAdmin.addInitializer(function() {
				UserAdmin.on('user:selected', function(user) {
					UserAdmin.AppController.showUserDetails(user);
				});

				UserAdmin.on('userList:selected', function() {
					UserAdmin.AppController.showUserList();
				});

				UserAdmin.on('index:selected', function() {
					UserAdmin.AppController.showIndex();
				});
			});

			UserAdmin.addInitializer(function() {
				UserAdmin.addRegions({
					mainRegion: "#app"
				});

				// init
				UserAdmin.AppController = new AppController();
				UserAdmin.AppRouter = new AppRouter();
				UserAdmin.Users = new UserCollection(testData);
				
				// start
				Backbone.history.start();
			});

			UserAdmin.start();

			var IndexView = Marionette.ItemView.extend({
				template: "#index-template",

				events: {
					'click #nav-users-index': 'showUserList'
				},

				showUserList: function(event) {
					event.preventDefault();

					UserAdmin.trigger('userList:selected');
				}
			});

			var UserItemView = Marionette.ItemView.extend({
				tagName: 'tr',
				template: _.template('<td><a href="#"><%= email %></a></td>'),
				events: {
					'click a': 'showUserDetails'
				},
				showUserDetails: function(event) {
					event.preventDefault();

					UserAdmin.AppController.showUserDetails(this.model);
				}
			});

			var UserListView = Marionette.CollectionView.extend({
				tagName: 'table',
				className: 'table table-striped',
				childView: UserItemView,
				onBeforeRender: function() {
					this.$el.append('<h2>User list</h2>');
				}
			});

			var UserDetailsLayout = Marionette.LayoutView.extend({
				template: '#user-details-layout-template',
				regions: {
					'summary': '#summary',
					'profile': '#profile'
				}
			});

			var UserSummaryView = Marionette.ItemView.extend({
				template: '#user-summary-template'
			});

			var UserProfileView = Marionette.ItemView.extend({
				template: '#user-profile-template'
			});

			// for debugging
			window.UserAdmin = UserAdmin;
		});
	</script>
</body>
</html>
